<h1>Welcome!</h1>

<p>You identified using the following email: <code>{{ emailAddress }}</code></p>

<p>Your Password is: <strong>{{ password }}</strong></p>

<br>
<p>If you didn't as for a password you can avoid this email.</p>

<p>Welcome and thanks!</p>
<p>Meet The Team</p>

<small>@2020 Meet The Team</small>