{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row h-100">
        <div class="col-md-12">
            <div class="card w-50 mt-5 mx-auto" style="width: 25rem;">
                <div class="card-header">
                    <h2 class="h3 mb-3 font-weight-normal align-content-center">Forbidden page</h2>
                </div>

                <div class="card-body">
                    You are not allowed to visit this page, <br>
                    you can return to <a href="{{ path('app_homepage') }}">homepage here</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}